<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.wechat.mapper.WechatUserInfoMapper">

    <resultMap id="selectResultMap" type="com.mtx.wechat.entity.WechatUserInfo">
    </resultMap>


    <select id="batchInsert" parameterType="java.util.List">
        INSERT INTO tb_wechat_userinfo(uuid,bindid,openid,nickname,headimgurl,createon,createby,modifyon,modifyby,versionno,delind) VALUES
        <foreach collection="list"  item="item" separator=",">
            (#{item.uuid},#{item.bindid},#{item.openid},#{item.nickname},#{item.headimgurl},#{item.createon},#{item.createby},#{item.modifyon},#{item.modifyby},#{item.versionno},#{item.delind})
        </foreach>
    </select>

    <select id="selectWechatUserInfoForStaff" resultMap="selectResultMap">
        select *
        from tb_wechat_userinfo
        where bindid = #{wechatUserInfo.bindid}
        and type = #{wechatUserInfo.type}
        <if test="wechatUserInfo.name != null and wechatUserInfo.name != ''">
            and name like CONCAT('%',#{wechatUserInfo.name},'%')
        </if>
        order by modifyon desc;
    </select>
    
    <select id="selectWechatUserInfoForPageList" resultMap="selectResultMap">
        select temp.* from(
            select @rownum:=@rownum+1 rownum,t.* from(
                select @rownum:=0,wui.uuid,wui.bindid,wui.openid,wui.name,wui.type,wui.companyid,wui.contactno,wui.remarks,wui.createon,wu.nickname,wu.headimgurl,wu.ifsubscribe,
                (exists (select pu.* from tb_platform_user pu where pu.username = wui.contactno)) as createAccountFlag
                from tb_wechat_userinfo wui
                inner join tb_wp_user wu on wui.openid = wu.openid
                where wui.bindid = #{wechatUserInfo.bindid}
                <if test="wechatUserInfo.contactno != null and wechatUserInfo.contactno != ''">
                    and wui.contactno like CONCAT('%',#{wechatUserInfo.contactno},'%')
                </if>
                <if test="wechatUserInfo.name != null and wechatUserInfo.name != ''">
                    and wui.name like CONCAT('%',#{wechatUserInfo.name},'%')
                </if>
                <if test="wechatUserInfo.nickname != null and wechatUserInfo.nickname != ''">
                    and wu.nickname like CONCAT('%',#{wechatUserInfo.nickname},'%')
                </if>
                <if test="wechatUserInfo.type != null and wechatUserInfo.type != ''">
                    and wui.type = #{wechatUserInfo.type}
                </if>
                <if test="ifsubscribe != null and ifsubscribe != ''">
                    and wu.ifsubscribe = #{ifsubscribe}
                </if>
                <choose>
                    <when test="ifCreateAccount == 'N'.toString()">
                        and  (not exists (select pu.* from tb_platform_user pu where pu.username = wui.contactno))
                    </when>
                    <when test="ifCreateAccount == 'Y'.toString()">
                        and  (exists (select pu.* from tb_platform_user pu where pu.username = wui.contactno))
                    </when>
                    <otherwise>

                    </otherwise>
                </choose>
                order by wui.createon desc
            ) t
        ) temp
    </select>

    <select id="selectUserInfoAndStatus" resultMap="selectResultMap">
        select wui.uuid,wui.bindid,wui.openid,wui.name,wui.type,wui.companyid,wui.contactno,wui.remarks,wui.createon,wui.versionno,wu.nickname,wu.headimgurl,wu.ifsubscribe,
                (exists (select pu.* from tb_platform_user pu where pu.username = wui.contactno)) as createAccountFlag
                from tb_wechat_userinfo wui
                inner join tb_wp_user wu on wui.openid = wu.openid
                where wui.bindid = #{wechatUserInfo.bindid}
                and wui.uuid = #{wechatUserInfo.uuid}
    </select>
</mapper>