<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.wechat.mapper.WpUserMapper">

    <resultMap id="selectResultMap" type="com.mtx.wechat.entity.WpUser">
    </resultMap>

    <select id="selectWpUserByBindid"  resultType="java.lang.String">
        select openid from tb_wp_user
        where bindid = #{bindid};
    </select>

    <select id="batchInsertWpUser" parameterType="java.util.List">
        INSERT INTO tb_wp_user(uuid,bindid,openid,ifauth,ifsubscribe,
        createon,createby,modifyon,modifyby,versionno,delind) VALUES
        <foreach collection="list"  item="item" separator=",">
            (#{item.uuid},#{item.bindid},#{item.openid},#{item.ifauth},#{item.ifsubscribe},
            #{item.createon},#{item.createby},#{item.modifyon},#{item.modifyby},#{item.versionno},#{item.delind})
        </foreach>
    </select>

    <select id="selectUnautherizedWpUser"  resultType="java.lang.String">
        select u.openid from tb_wp_user u
        where u.bindid = #{bindid}
        and u.openid not in (select ah.openid from tb_resp_article_history ah where ah.mediaid = #{mediaid})
        and u.ifauth = 'N';
    </select>

    <select id="selectAllWpUsersByBindid"   resultMap="selectResultMap">
        select * from tb_wp_user
        where bindid = #{bindid}
        order by createon;
    </select>
    <select id="selectWpUserList" resultMap="selectResultMap">
        select wu.*
        from tb_wp_user wu
        where TRUE
        <if test="wpUser.name != null and wpUser.name != ''">
            and wu.name like concat("%",#{wpUser.name},"%")
        </if>
        <if test="wpUser.contactno != null and wpUser.contactno != ''">
            and wu.contactno like concat("%",#{wpUser.contactno},"%")
        </if>
        <if test="wpUser.ifauth != null and wpUser.ifauth != ''">
            and wu.ifauth =#{wpUser.ifauth}
        </if>
        order by modifyon desc;
    </select>
</mapper>