<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.wechat.mapper.WechatBindingMapper">

    <resultMap id="selectResultMap" type="com.dorm.wechat.entity.admin.WechatBinding">
    </resultMap>

    <select id="selectWechatBindingForUser" resultMap="selectResultMap">
        select b.*
        from tb_platform_user a, tb_wechat_binding b
        where a.bindid = b.uuid
        and   a.uuid = #{userid}
        order by b.createon;
    </select>
</mapper>