<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.family.mapper.ConsultMapper">

    <resultMap id="selectResultMap" type="com.dorm.family.entity.Consult">
    </resultMap>


    <select id="selectConsultPageList" resultMap="selectResultMap">
        select c.*,s.stuno as stuno,s.name as stuname,s.contactno as stuphone,d.name as dormitoryname
        from tb_dorm_consult c
        inner join tb_dorm_student s on c.stuid = s.uuid
        inner join tb_dorm_dormitory d on s.dormitoryid = d.uuid
        where 1=1
        <if test="consult.dormitoryid != null and consult.dormitoryid != ''">
            and s.dormitoryid = #{consult.dormitoryid}
        </if>
        <if test="consult.status != null and consult.status != ''">
            and c.status = #{consult.status}
        </if>
        <if test="consult.stuno != null and consult.stuno != ''">
            s.stuno like concat('%',#{consult.stuno},'%')
        </if>
        <if test="consult.stuname != null and consult.stuname != ''">
            and s.name like concat('%',#{consult.stuname},'%')
        </if>
        <if test="startDateTimeStr != null and startDateTimeStr != ''">
            <![CDATA[
                              and c.createon >= #{startDateTimeStr}
                            ]]>
        </if>
        <if test="startDateTimeStr != null and startDateTimeStr != ''">
            <![CDATA[
                              and c.createon <= #{endDateTimeStr}
                            ]]>
        </if>
        order by c.modifyon desc
    </select>

    <select id="selectConsultAsy" resultMap="selectResultMap">
        select c.*
        from tb_dorm_consult c
        inner join tb_dorm_student s on c.stuid = s.uuid
        where
        c.status = #{consult.status}
        <if test="consult.dormitoryid != null and consult.dormitoryid != ''">
            and s.dormitoryid = #{consult.dormitoryid}
        </if>
    </select>

    <select id="selectConsultReportPageList" resultMap="selectResultMap">
        select d.name as dormitoryname,d.uuid as dormitoryid,
        (select count(*) from tb_dorm_consult c inner join tb_dorm_student s on s.uuid = c.stuid where  s.uuid = co.stuid and c.status = 'N_REPLY'
        <if test="consult.dormitoryid != null and consult.dormitoryid != ''">
            and s.dormitoryid = #{consult.dormitoryid}
        </if>
        <if test="startDateTimeStr != null and startDateTimeStr != ''">
            <![CDATA[
                              and c.createon >= #{startDateTimeStr}
                            ]]>
        </if>
        <if test="endDateTimeStr != null and endDateTimeStr != ''">
        <![CDATA[
                              and c.createon <= #{endDateTimeStr}
                            ]]>
        </if>
        ) as nreplyCount,
        (select count(*) from tb_dorm_consult c inner join tb_dorm_student s on s.uuid = c.stuid where  s.uuid = co.stuid and c.status = 'Y_REPLY'
        <if test="consult.dormitoryid != null and consult.dormitoryid != ''">
            and s.dormitoryid = #{consult.dormitoryid}
        </if>
        <if test="startDateTimeStr != null and startDateTimeStr != ''">
            <![CDATA[
                              and c.createon >= #{startDateTimeStr}
                            ]]>
        </if>
        <if test="endDateTimeStr != null and endDateTimeStr != ''">
            <![CDATA[
                              and c.createon <= #{endDateTimeStr}
                            ]]>
        </if>
        ) as yreplyCount,
        (select ROUND(nreplyCount/(nreplyCount+yreplyCount)*100,2)) as nreplyPercent,
        (select ROUND(yreplyCount/(nreplyCount+yreplyCount)*100,2)) as yreplyPercent
        from tb_dorm_consult co
        inner join tb_dorm_student s on co.stuid = s.uuid
        INNER JOIN tb_dorm_dormitory d on d.uuid = s.dormitoryid
        where 1=1
        <if test="consult.dormitoryid != null and consult.dormitoryid != ''">
            and s.dormitoryid = #{consult.dormitoryid}
        </if>
        <if test="startDateTimeStr != null and startDateTimeStr != ''">
            <![CDATA[
                              and c.createon >= #{startDateTimeStr}
                            ]]>
        </if>
        <if test="endDateTimeStr != null and endDateTimeStr != ''">
            <![CDATA[
                              and c.createon <= #{endDateTimeStr}
                            ]]>
        </if>
        group by d.uuid

        <if test="consult.dormitoryid == null or consult.dormitoryid == ''">
            union

            select '总计' as dormitoryname,'' as dormitoryid,
            (select count(*) from tb_dorm_consult c where c.status = 'N_REPLY') as nreplyCount,
            (select count(*) from tb_dorm_consult c where c.status = 'Y_REPLY') as yreplyCount,
            (select ROUND(nreplyCount/(nreplyCount+yreplyCount)*100,2)) as nreplyPercent,
            (select ROUND(yreplyCount/(nreplyCount+yreplyCount)*100,2)) as yreplyPercent
            from tb_dorm_consult co
        </if>

    </select>

    <select id="selectConsultReportListForExport" resultMap="selectResultMap">
        select d.name as dormitoryname,d.uuid as dormitoryid,
        (select count(*) from tb_dorm_consult c inner join tb_dorm_student s on s.uuid = c.stuid where  s.uuid = co.stuid and c.status = 'N_REPLY'
        <if test="consult.dormitoryid != null and consult.dormitoryid != ''">
            and s.dormitoryid = #{consult.dormitoryid}
        </if>
        <if test="startDateTimeStr != null and startDateTimeStr != ''">
            <![CDATA[
                              and c.createon >= #{startDateTimeStr}
                            ]]>
        </if>
        <if test="endDateTimeStr != null and endDateTimeStr != ''">
            <![CDATA[
                              and c.createon <= #{endDateTimeStr}
                            ]]>
        </if>
        ) as nreplyCount,
        (select count(*) from tb_dorm_consult c inner join tb_dorm_student s on s.uuid = c.stuid where  s.uuid = co.stuid and c.status = 'Y_REPLY'
        <if test="consult.dormitoryid != null and consult.dormitoryid != ''">
            and s.dormitoryid = #{consult.dormitoryid}
        </if>
        <if test="startDateTimeStr != null and startDateTimeStr != ''">
            <![CDATA[
                              and c.createon >= #{startDateTimeStr}
                            ]]>
        </if>
        <if test="endDateTimeStr != null and endDateTimeStr != ''">
            <![CDATA[
                              and c.createon <= #{endDateTimeStr}
                            ]]>
        </if>
        ) as yreplyCount,
        concat((select ROUND(nreplyCount/(nreplyCount+yreplyCount)*100,2)),'%') as nreplyPercent,
        concat((select ROUND(yreplyCount/(nreplyCount+yreplyCount)*100,2)),'%') as yreplyPercent
        from tb_dorm_consult co
        inner join tb_dorm_student s on co.stuid = s.uuid
        INNER JOIN tb_dorm_dormitory d on d.uuid = s.dormitoryid
        where 1=1
        <if test="consult.dormitoryid != null and consult.dormitoryid != ''">
            and s.dormitoryid = #{consult.dormitoryid}
        </if>
        <if test="startDateTimeStr != null and startDateTimeStr != ''">
            <![CDATA[
                              and c.createon >= #{startDateTimeStr}
                            ]]>
        </if>
        <if test="endDateTimeStr != null and endDateTimeStr != ''">
            <![CDATA[
                              and c.createon <= #{endDateTimeStr}
                            ]]>
        </if>
        group by d.uuid

        <if test="consult.dormitoryid == null or consult.dormitoryid == ''">
            union
            select '总计' as dormitoryname,'' as dormitoryid,
            (select count(*) from tb_dorm_consult c where c.status = 'N_REPLY') as nreplyCount,
            (select count(*) from tb_dorm_consult c where c.status = 'Y_REPLY') as yreplyCount,
            concat((select ROUND(nreplyCount/(nreplyCount+yreplyCount)*100,2)),'%') as nreplyPercent,
            concat((select ROUND(yreplyCount/(nreplyCount+yreplyCount)*100,2)),'%') as yreplyPercent
            from tb_dorm_consult co
        </if>

    </select>
</mapper>