<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.family.mapper.DormitoryMapper">

    <resultMap id="selectResultMap" type="com.dorm.family.entity.Dormitory">
    </resultMap>

    <select id="selectDormitoryForUser" resultMap="selectResultMap">
        select d.*
        from tb_platform_user u, tb_dorm_dormitory_user du, tb_dorm_dormitory d
        where u.uuid = du.userid
        and   du.dormitoryid = d.uuid
        and   u.uuid = #{userid}
        order by d.createon;
    </select>

    <select id="selectDormitoryForUserWithPagination" resultMap="selectResultMap">
        select d.*
        from tb_dorm_dormitory d
        where d.bindid = #{dormitory.bindid}
        <if test="dormitory.name != null and dormitory.name != ''">
            and d.name  like concat("%",#{dormitory.name},"%")
        </if>
        <if test="dormitory.frequentcontacts != null and dormitory.frequentcontacts != ''">
            and d.frequentcontacts  like concat("%",#{dormitory.frequentcontacts},"%")
        </if>
        <if test="dormitory.address != null and dormitory.address != ''">
            and d.address  like concat("%",#{dormitory.address},"%")
        </if>
        <if test="topAccount == ''">
            and d.uuid in (select c.uuid
            from tb_platform_user a, tb_dorm_dormitory_user b, tb_mtx_merchant c
            where a.uuid = b.userid
            and   b.dormitoryid = c.uuid
            and   a.uuid = #{userid}
            )
        </if>
        order by modifyon desc;
    </select>

    <select id="selectDormitoryListNotInDormitoryUserTable" resultMap="selectResultMap">
        select distinct d.*
        from tb_dorm_dormitory d
        where d.bindid = #{bindid}
        and d.uuid not in (select du.dormitoryid from tb_dorm_dormitory_user du where du.userid = #{userid})
        order by d.createon;
    </select>

    <select id="selectDormitoryForSave" resultMap="selectResultMap">
        select d.* from tb_dorm_dormitory d
        where d.name = #{dormitory.name}
        <if test="dormitory.uuid != null and dormitory.uuid != ''">
            and d.uuid != #{dormitory.uuid}
        </if>
    </select>

</mapper>