<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.family.mapper.MtxActivityParticipantMapper">

    <resultMap id="selectResultMap" type="com.dorm.family.entity.MtxActivityParticipant">
    </resultMap>
    <select id="selectMtxActivityParticipantList" resultMap="selectResultMap">
        select * from tb_mtx_activity_participant
        order by activityid desc;
    </select>
    <select id="selectWpUserParticipantList" resultMap="selectResultMap">
        select map.* ,wu.name as name ,wu.headimgurl as headimg ,wu.nickname as nickname ,wu.contactno as contactno
        from tb_mtx_activity_participant  map
        inner join tb_wp_user wu on wu.uuid=map.userid
        where map.activityid=#{participant.activityid}
        <if test="participant.status!=null and participant.status!=''">
            and map.status=#{participant.status}
        </if>
        <if test="participant.name!=null and participant.name!=''">
            and wu.name=#{participant.name}
        </if>
        <if test="participant.contactno!=null and participant.contactno!=''">
            and wu.contactno=#{participant.contactno}
        </if>
        order by map.createon desc;
    </select>
    <select id="queryForWaitDrawingList" resultMap="selectResultMap">
        select map.* ,wu.name as name ,wu.headimgurl as headimg ,wu.nickname as nickname ,wu.contactno as contactno
        from tb_mtx_activity_participant  map
        inner join tb_wp_user wu on wu.uuid=map.userid
        where map.activityid=#{participant.activityid}
        <if test="participant.status!=null and participant.status!=''">
            and map.status is null
        </if>
        order by map.createon desc;
    </select>
</mapper>