<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.family.mapper.MtxReserveMapper">

    <resultMap id="selectResultMap" type="com.dorm.family.entity.MtxReserve">
    </resultMap>
    <select id="selectMtxReserveList" resultMap="selectResultMap">
        select mr.*,mp.model as model,mm.name as merchantname
        from tb_mtx_reserve mr
        left join tb_mtx_product mp on mp.uuid=mr.productid
        left join tb_mtx_merchant mm on mm.uuid=mr.merchantid
        where TRUE
        <if test="mtxReserve.name != null and mtxReserve.name != ''">
            and mr.name like concat("%",#{mtxReserve.name},"%")
        </if>
        <if test="mtxReserve.phone != null and mtxReserve.phone != ''">
            and mr.phone like concat("%",#{mtxReserve.phone},"%")
        </if>
        <if test="mtxReserve.status != null and mtxReserve.status != ''">
            and mr.status =#{mtxReserve.status}
        </if>
        <if test="mtxReserve.merchantid != null and mtxReserve.merchantid != ''">
            and mr.merchantid =#{mtxReserve.merchantid}
        </if>
        <if test="mtxReserve.uuid != null and mtxReserve.uuid != ''">
            and mr.uuid =#{mtxReserve.uuid}
        </if>
        order by mr.modifyon desc;
    </select>
    <select id="queryMerchantReserve" resultMap="selectResultMap">
        select mr.*,mp.model as model,mm.name as merchantname
        from tb_mtx_reserve mr
        inner join tb_mtx_merchant mm on mm.uuid=mr.merchantid
        left join tb_mtx_product mp on mp.uuid=mr.productid
        where mm.bindid=#{bindid}
        and mm.uuid in
        <foreach item="item" index="index" collection="list" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        <if test="mtxReserve.name != null and mtxReserve.name != ''">
            and mr.name like concat("%",#{mtxReserve.name},"%")
        </if>
        <if test="mtxReserve.phone != null and mtxReserve.phone != ''">
            and mr.phone like concat("%",#{mtxReserve.phone},"%")
        </if>
        <if test="mtxReserve.status != null and mtxReserve.status != ''">
            and mr.status =#{mtxReserve.status}
        </if>
        <if test="mtxReserve.merchantid != null and mtxReserve.merchantid != ''">
            and mr.merchantid =#{mtxReserve.merchantid}
        </if>
        order by mr.modifyon desc;
    </select>
    <select id="queryByPK" resultMap="selectResultMap">
        select mr.*,mp.model as model,mm.name as merchantname
        from tb_mtx_reserve mr
        left join tb_mtx_product mp on mp.uuid=mr.productid
        left join tb_mtx_merchant mm on mm.uuid=mr.merchantid
        where mr.uuid =#{mtxReserve.uuid}
        order by mr.modifyon desc;
    </select>
</mapper>