<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.family.mapper.MtxUserMachineMapper">

    <resultMap id="selectResultMap" type="com.dorm.family.entity.MtxUserMachine">
    </resultMap>
    <select id="queryMachineList" resultMap="selectResultMap">
        select mu.*,concat(mm.machinemodel,mm.machinename,'(',mm.machineno,')') as name
        from tb_mtx_usermachine mu
        left join tb_mtx_machine mm on mm.uuid=mu.machineid
        where mu.userid=#{userid}
        and mu.type=#{type}
        order by date_format(mu.createon,'%Y-%m-%d %H:%i:%s') desc;
    </select>
    <select id="selectMtxUserMachineList" resultMap="selectResultMap">
        select mu.*,wu.name as name,mm.machinename as machinename
        from tb_mtx_usermachine mu
        left join tb_mtx_machine mm on mm.uuid=mu.machineid
        left join tb_wp_user wu on wu.uuid=mu.userid
        where true
        <if test="mtxUserMachine.name != null and mtxUserMachine.name != ''">
            and wu.name like concat("%", #{mtxUserMachine.name},"%")
        </if>
        <if test="mtxUserMachine.machinename != null and mtxUserMachine.machinename != ''">
            and mm.machinename like concat("%", #{mtxUserMachine.machinename},"%")
        </if>
        <if test="mtxUserMachine.type != null and mtxUserMachine.type != ''">
            and mu.type = #{mtxUserMachine.type}
        </if>
        order by date_format(mu.createon,'%Y-%m-%d %H:%i:%s') desc;
    </select>
</mapper>