<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.common.mapper.PlatformPermitMapper">

    <resultMap id="selectResultMap" type="com.dorm.common.entity.PlatformPermit">
    </resultMap>

    <select id="getPermitListByRoleId" resultMap="selectResultMap">
        select distinct p.* from tb_platform_permit p , tb_platform_user_role ur , tb_platform_role_permit rp
        where ur.roleid = rp.roleid and rp.permitid = p.uuid
        and ur.userid = #{userid}
        <if test="parentpermitid != null and parentpermitid != ''">
            and p.parentpermitid is not null
        </if>
        <if test="parentpermitid == null or parentpermitid == ''">
            and p.parentpermitid is null
        </if>
        and p.permittype = #{permittype}
        and p.status = 'APP'
        order by p.permitorder asc;
    </select>

    <select id="queryPermitIdByMenuName" resultMap="selectResultMap">
        select * from tb_platform_permit
        where permitname=#{permitname};
    </select>

    <select id="getPermitList" resultMap="selectResultMap">
        select * from tb_platform_permit p
        order by p.permitorder asc;
    </select>

    <select id="queryPermitList" resultMap="selectResultMap">
        select * from tb_platform_permit p
        <if test="parentpermitid != null and parentpermitid != ''">
            where p.parentpermitid =#{parentpermitid}
        </if>
        <if test="parentpermitid == null or parentpermitid == ''">
            where p.parentpermitid is null
        </if>
        order by p.permitorder asc;
    </select>

    <select id="queryPermitIdByMenuId" resultMap="selectResultMap">
        select * from tb_platform_permit
        where uuid=#{permitid};
    </select>

    <select id="queryPermitIdByResource" resultMap="selectResultMap">
        select * from tb_platform_permit
        where permitresource=#{permitresource};
    </select>

    <select id="queryPermitListByRoleId" resultMap="selectResultMap">
        select distinct p.* from tb_platform_permit p , tb_platform_role_permit rp
        where p.uuid = rp.permitid
        and rp.roleid = #{roleid}
        <if test="parentpermitid != null and parentpermitid != ''">
            and p.parentpermitid is not null
        </if>
        <if test="parentpermitid == null or parentpermitid == ''">
            and p.parentpermitid is null
        </if>
        and p.permittype = #{permittype}
        and p.status = 'APP'
        order by p.permitorder asc;
    </select>

    <select id="queryPermitListByUserId" resultMap="selectResultMap">
        select distinct p.*
        from tb_platform_user u,
             tb_platform_user_role ur,
             tb_platform_role r,
             tb_platform_permit p ,
             tb_platform_role_permit rp
        where u.uuid = #{userid}
        and   u.uuid = ur.userid
        and   r.uuid = ur.roleid
        and   r.uuid = rp.roleid
        and   p.uuid = rp.permitid
        and   p.status = 'APP'
    </select>

</mapper>