<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.common.mapper.CommonMessageViewHisMapper">

    <resultMap id="selectResultMap" type="com.mtx.common.entity.CommonMessageViewHis">
    </resultMap>

    <select id="selectMsgViewCount" resultType="java.lang.Integer">
        select count(*)
        from tb_common_message_view_his
        where msgid  = #{msgId}
    </select>

</mapper>