<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.common.mapper.BranchMapper">

    <resultMap id="selectResultMap" type="com.mtx.common.entity.Branch">
    </resultMap>

    <select id="selectBranchListForAdmin" resultMap="selectResultMap">
        select *
        from tb_common_branch
        where bindid = #{branch.bindid}
        order by modifyon desc;
    </select>

    <select id="selectBranchForSave" resultMap="selectResultMap">
        select *
        from tb_common_branch b
        where b.bindid = #{branch.bindid}
        and b.name = #{branch.name}
        <if test="branch.uuid != null and branch.uuid != ''">
            and b.uuid != #{branch.uuid}
        </if>
        ;
    </select>
</mapper>