<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.MerchantMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.Merchant">
    </resultMap>

    <select id="selectMerchantList" resultMap="selectResultMap">
        select *
        from tb_mtx_merchant
        where bindid = #{merchant.bindid}
        order by modifyon desc;
    </select>

    <select id="selectMerchantForSave" resultMap="selectResultMap">
        select c.* from tb_mtx_merchant c
        where c.name = #{merchant.name}
        <if test="merchant.uuid != null and merchant.uuid != ''">
            and c.uuid != #{merchant.uuid}
        </if>
        ;
    </select>

    <select id="selectMerchantForUser" resultMap="selectResultMap">
        select c.*
        from tb_platform_user a, tb_mtx_user_merchant b, tb_mtx_merchant c
        where a.uuid = b.userid
        and   b.merchantid = c.uuid
        and   a.uuid = #{userid}
        order by c.createon;
    </select>

    <select id="selectMerchantForUserWithPagination" resultMap="selectResultMap">
        select c.*
        from tb_mtx_merchant c
        where bindid = #{merchant.bindid}
        <if test="merchant.name != null and merchant.name != ''">
            and c.name  like concat("%",#{merchant.name},"%")
        </if>
        <if test="merchant.address != null and merchant.address != ''">
            and c.address  like concat("%",#{merchant.address},"%")
        </if>
        <if test="merchant.legalperson != null and merchant.legalperson != ''">
            and c.legalperson  like concat("%",#{merchant.legalperson},"%")
        </if>
        <if test="topAccount == ''">
            and c.uuid in (select c.uuid
            from tb_platform_user a, tb_mtx_user_merchant b, tb_mtx_merchant c
            where a.uuid = b.userid
            and   b.merchantid = c.uuid
            and   a.uuid = #{userid}
            )
        </if>
        order by modifyon desc;
    </select>

    <select id="selectMerchantListNotInUserMerhantTable" resultMap="selectResultMap">
        select distinct c.*
        from tb_mtx_merchant c
        where c.bindid = #{bindid}
        and c.uuid not in (select uc.merchantid from tb_mtx_user_merchant uc where uc.userid = #{userid})
        order by c.createon;
    </select>

    <select id="selectMerchantByMachineInfo" resultMap="selectResultMap">
        select mt.*
        from tb_mtx_merchant mt
        inner join tb_mtx_order mo on mo.merchantid = mt.uuid
        inner join tb_mtx_machine me on me.orderid = mo.uuid
        where me.machinemodel = #{machine.machinemodel}
        and me.machineno = #{machine.machineno}
        and me.engineno = #{machine.engineno}
        and me.type = 'MACHINE'
    </select>

    <select id="queryMerchantNameList" resultType="String">
        select DISTINCT  mm.name
        from tb_mtx_merchant mm
        where mm.uuid in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>