<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.MtxConsultMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.MtxConsult">
    </resultMap>
    <select id="selectMtxConsultList" resultMap="selectResultMap">
        select mc.*,wu.nickname as nickname,wu.headimgurl as headimgurl
        from tb_mtx_consult mc
        left join tb_wp_user wu on wu.uuid=mc.userid
        where TRUE
        <if test="mtxConsult.identify != null and mtxConsult.identify != ''">
            and mc.identify =#{mtxConsult.identify}
        </if>
        <if test="mtxConsult.status != null and mtxConsult.status != ''">
            and mc.status =#{mtxConsult.status}
        </if>
        <if test="mtxConsult.nickname != null and mtxConsult.nickname != ''">
            and wu.nickname like concat("%",#{mtxConsult.nickname},"%")
        </if>
        order by mc.createon desc;
    </select>
</mapper>