<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.MtxExchangeRecordMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.MtxExchangeRecord">
    </resultMap>

    <select id="selectMtxExchangeRecordList" resultMap="selectResultMap">
        select mer.* ,wu.name as username,mp.name as productname,ifnull(mp.points,0)*ifnull(mer.count,0) as points
        from tb_mtx_exchange_record mer
        left join tb_wp_user wu on wu.uuid=mer.userid
        left join tb_mtx_product mp on mp.uuid=mer.productid
        where TRUE
        <if test="mtxExchangeRecord.username != null and mtxExchangeRecord.username != ''">
            and wu.name like concat("%", #{mtxExchangeRecord.username},"%")
        </if>
        <if test="mtxExchangeRecord.productname != null and mtxExchangeRecord.productname != ''">
            and mp.name like concat("%", #{mtxExchangeRecord.productname},"%")
        </if>
        <if test="mtxExchangeRecord.status != null and mtxExchangeRecord.status != ''">
            and mer.status =#{mtxExchangeRecord.status}
        </if>
        order by mer.createon desc;
    </select>
</mapper>