<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.MtxGoodMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.MtxGood">
    </resultMap>

    <select id="selectMtxGoodList" resultMap="selectResultMap">
        select *
        from tb_mtx_good
        where TRUE
        <if test="mtxGood.name != null and mtxGood.name != ''">
            and name like concat("%",#{mtxGood.name},"%")
        </if>
        <if test="mtxGood.status != null and mtxGood.status != ''">
            and status =#{mtxGood.status}
        </if>
        order by modifyon desc;
    </select>
</mapper>