<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.MtxMemberMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.MtxMember">
    </resultMap>

    <select id="selectMtxMemberList" resultMap="selectResultMap">
        select wu.*
        from tb_wp_user wu
        where TRUE
        <if test="mtxMember.name != null and mtxMember.name != ''">
            and wu.name like concat("%",#{mtxMember.name},"%")
        </if>
        <if test="mtxMember.contactno != null and mtxMember.contactno != ''">
            and wu.contactno like concat("%",#{mtxMember.contactno},"%")
        </if>
        order by modifyon desc;
    </select>
</mapper>