<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.MtxMemberMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.MtxMember">
    </resultMap>

    <select id="selectMtxMemberList" resultMap="selectResultMap">
        select mm.*,tmm.name as merchantname
        from tb_mtx_member mm
        inner join tb_mtx_merchant tmm on tmm.uuid=mm.merchantid
        where TRUE
        <if test="mtxMember.name != null and mtxMember.name != ''">
            and mm.name like concat("%",#{mtxMember.name},"%")
        </if>
        <if test="mtxMember.phone != null and mtxMember.phone != ''">
            and mm.phone like concat("%",#{mtxMember.phone},"%")
        </if>
        order by modifyon desc;
    </select>
</mapper>