<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.MtxPointMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.MtxPoint">
    </resultMap>
    <select id="selectMtxPointList" resultMap="selectResultMap">
        select mp.*,if(concat(tmp.model,tmp.name) is not null and concat(tmp.model,tmp.name)!='',concat(tmp.model,tmp.name),mg.name) as productname, mm.name as membername,mm.phone as phone
        from tb_mtx_point mp
        inner join tb_mtx_member mm on mp.memberid=mm.uuid
        left join tb_mtx_product tmp on mp.productid=tmp.uuid
        left join tb_mtx_good mg on mp.goodid=mg.uuid
        where TRUE
        <if test="mtxPoint.membername != null and mtxPoint.membername != ''">
            and mm.name like concat("%",#{mtxPoint.membername},"%")
        </if>
        <if test="mtxPoint.phone != null and mtxPoint.phone != ''">
            and mm.phone like concat("%",#{mtxPoint.phone},"%")
        </if>
        order by mm.uuid,date_format(mp.createon,'%Y-%m-%d %H:%i:%s') desc;
    </select>
</mapper>