<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.MtxReserveMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.MtxReserve">
    </resultMap>
    <select id="selectMtxReserveList" resultMap="selectResultMap">
        select mr.*,mp.model as model
        from tb_mtx_reserve mr
        left join tb_mtx_product mp on mp.uuid=mr.productid
        where TRUE
        <if test="mtxReserve.name != null and mtxReserve.name != ''">
            and mr.name like concat("%",#{mtxReserve.name},"%")
        </if>
        <if test="mtxReserve.phone != null and mtxReserve.phone != ''">
            and mr.phone like concat("%",#{mtxReserve.phone},"%")
        </if>
        <if test="mtxReserve.status != null and mtxReserve.status != ''">
            and mr.status =#{mtxReserve.status}
        </if>
        order by mr.modifyon desc;
    </select>
</mapper>