<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.QualityMgmtMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.QualityMgmt">
    </resultMap>

    <select id="selectQualityMgmtPageList" resultMap="selectResultMap">
        select distinct qm.*,mm.name as merchantname,mw.name as worker
        from tb_mtx_quality_management qm
        left join tb_mtx_merchant mm on qm.merchantid = mm.uuid
        left join tb_mtx_worker mw on qm.uuid = mw.refid
        where
        1=1
        <if test="qualityMgmt.snno != null and qualityMgmt.snno != ''">
            and qm.snno like concat("%",#{qualityMgmt.snno},"%")
        </if>
        <choose>
            <when test="qualityMgmt.merchantid == 'Y'.toString()">
                and qm.merchantid is null
            </when>
            <otherwise>
                <if test="qualityMgmt.merchantid != null and qualityMgmt.merchantid != ''">
                    and qm.merchantid = #{qualityMgmt.merchantid}
                </if>
            </otherwise>
        </choose>
        <if test="qualityMgmt.worker != null and qualityMgmt.worker != ''">
            and mw.userid = #{qualityMgmt.worker}
        </if>
        <if test="qualityMgmt.statusArr != null">
            and qm.status in
            <foreach item="item" index="index" collection="qualityMgmt.statusArr"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="qualityMgmt.machinemodel != null and qualityMgmt.machinemodel != ''">
            and qm.machinemodel = #{qualityMgmt.machinemodel}
        </if>
        <if test="qualityMgmt.reportername != null and qualityMgmt.reportername != ''">
            and qm.reportername like concat("%",#{qualityMgmt.reportername},"%")
        </if>
        <if test="qualityMgmt.reporterphone != null and qualityMgmt.reporterphone != ''">
            and qm.reporterphone like concat("%",#{qualityMgmt.reporterphone},"%")
        </if>
        <if test="qualityMgmt.type != null and qualityMgmt.type != ''">
            and qm.type = #{qualityMgmt.type}
        </if>
        <if test="startTime != null and startTime != ''">
            <![CDATA[
                              and qm.servicedt >= #{startTime}
                            ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
                              and qm.servicedt <= #{endTime}
                            ]]>
        </if>
        order by qm.modifyon desc
    </select>

    <select id="selectQualityMgmtListForExport" resultMap="selectResultMap">
        select distinct qm.*,mm.name as merchantname,mw.name as worker,
        queryCodeValueByTypeAndCode('REPAIR_STATUS', qm.status) as statusDesc,
        queryCodeValueByTypeAndCode('PRAISE_STATUS', qm.praisestatus) as praisestatusDesc
        from tb_mtx_quality_management qm
        left join tb_mtx_merchant mm on qm.merchantid = mm.uuid
        left join tb_mtx_worker mw on qm.uuid = mw.refid
        where
        1=1
        <if test="qualityMgmt.snno != null and qualityMgmt.snno != ''">
            and qm.snno like concat("%",#{qualityMgmt.snno},"%")
        </if>
        <choose>
            <when test="qualityMgmt.merchantid == 'Y'.toString()">
                and qm.merchantid is null
            </when>
            <otherwise>
                <if test="qualityMgmt.merchantid != null and qualityMgmt.merchantid != ''">
                    and qm.merchantid = #{qualityMgmt.merchantid}
                </if>
            </otherwise>
        </choose>
        <if test="qualityMgmt.worker != null and qualityMgmt.worker != ''">
            and mw.userid = #{qualityMgmt.worker}
        </if>
        <if test="qualityMgmt.statusArr != null">
            and qm.status in
            <foreach item="item" index="index" collection="qualityMgmt.statusArr"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="qualityMgmt.machinemodel != null and qualityMgmt.machinemodel != ''">
            and qm.machinemodel = #{qualityMgmt.machinemodel}
        </if>
        <if test="qualityMgmt.reportername != null and qualityMgmt.reportername != ''">
            and qm.reportername like concat("%",#{qualityMgmt.reportername},"%")
        </if>
        <if test="qualityMgmt.reporterphone != null and qualityMgmt.reporterphone != ''">
            and qm.reporterphone like concat("%",#{qualityMgmt.reporterphone},"%")
        </if>
        <if test="qualityMgmt.type != null and qualityMgmt.type != ''">
            and qm.type = #{qualityMgmt.type}
        </if>
        <if test="startTime != null and startTime != ''">
            <![CDATA[
                              and qm.servicedt >= #{startTime}
                            ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
                              and qm.servicedt <= #{endTime}
                            ]]>
        </if>
        order by qm.modifyon desc
    </select>

    <select id="selectQualityMgmtListForPhone" resultMap="selectResultMap">
        select qm.*
        from tb_mtx_quality_management qm
        inner join tb_mtx_worker mw on mw.refid = qm.uuid
        where qm.type = #{qualityMgmt.type}
        and mw.userid = #{qualityMgmt.workerid}
        order by qm.status desc,qm.createon desc
    </select>

    <select id="selectQualityMgmtAsy" resultMap="selectResultMap">
        select qm.*
        from tb_mtx_quality_management qm
        where qm.type = #{qualityMgmt.type}
        and qm.status = #{qualityMgmt.status}
        <choose>
            <when test="qualityMgmt.merchantid == 'Y'.toString()">
                and qm.merchantid is null
            </when>
            <otherwise>
                <if test="qualityMgmt.merchantid != null and qualityMgmt.merchantid != ''">
                    and qm.merchantid = #{qualityMgmt.merchantid}
                </if>
            </otherwise>
        </choose>

    </select>

</mapper>