<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.family.mapper.TrainMapper">

    <resultMap id="selectResultMap" type="com.mtx.family.entity.Train">
    </resultMap>

    <select id="selectTrainList" resultMap="selectResultMap">
        select mt.*,mm.name as merchantname
        from tb_mtx_train mt
        inner join tb_mtx_merchant mm on mt.merchantid = mm.uuid
        where
        1=1
        <if test="train.status != null and train.status != ''">
            and mt.status = #{train.status}
        </if>
        <if test="train.merchantid != null and train.merchantid != ''">
            and mt.merchantid = #{train.merchantid}
        </if>
        <if test="train.snno != null and train.snno != ''">
            and mt.snno  like concat("%",#{train.snno},"%")
        </if>
        <if test="train.machinemodel != null and train.machinemodel != ''">
            and mt.machinemodel = #{train.machinemodel}
        </if>
        <if test="train.machineno != null and train.machineno != ''">
            and mt.machineno like concat("%",#{train.machineno},"%")
        </if>
        <if test="train.personphone != null and train.personphone != ''">
            and mt.personphone like concat("%",#{train.personphone},"%")
        </if>
        <if test="startTime != null and startTime != ''">
            <![CDATA[
                              and mt.traindt >= #{startTime}
                            ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
                              and mt.traindt <= #{endTime}
                            ]]>
        </if>
        order by mt.modifyon desc
    </select>

    <select id="selectTrainListForExport" resultMap="selectResultMap">
        select mt.*,mm.name as merchantname,
        queryCodeValueByTypeAndCode('TRAIN_TYPE', mt.type) as typeDesc,
        queryCodeValueByTypeAndCode('TRAIN_STATUS', mt.status) as statusDesc,
        queryCodeValueByTypeAndCode('PRAISE_STATUS', mt.praisestatus) as praisestatusDesc
        from tb_mtx_train mt
        inner join tb_mtx_merchant mm on mt.merchantid = mm.uuid
        where
        1=1
        <if test="train.status != null and train.status != ''">
            and mt.status = #{train.status}
        </if>
        <if test="train.merchantid != null and train.merchantid != ''">
            and mt.merchantid = #{train.merchantid}
        </if>
        <if test="train.snno != null and train.snno != ''">
            and mt.snno  like concat("%",#{train.snno},"%")
        </if>
        <if test="train.machinemodel != null and train.machinemodel != ''">
            and mt.machinemodel = #{train.machinemodel}
        </if>
        <if test="train.machineno != null and train.machineno != ''">
            and mt.machineno like concat("%",#{train.machineno},"%")
        </if>
        <if test="train.personphone != null and train.personphone != ''">
            and mt.personphone like concat("%",#{train.personphone},"%")
        </if>
        <if test="startTime != null and startTime != ''">
            <![CDATA[
                              and mt.traindt >= #{startTime}
                            ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
                              and mt.traindt <= #{endTime}
                            ]]>
        </if>
        order by mt.modifyon desc
    </select>

    <select id="selectTrainListForPhone" resultMap="selectResultMap">
        select mt.*
        from tb_mtx_train mt
        inner join tb_mtx_merchant mm on mt.merchantid = mm.uuid
        and   mm.uuid  in
        <foreach item="item" index="index" collection="merchantList" open="("
                 separator="," close=")">
            #{item.uuid}
        </foreach>
        order by mt.status desc,mt.createon desc
    </select>

</mapper>