@charset "utf-8";
*{margin:0; padding:0;}
@media  screen  and (min-width: 721px){
	html, body {
		font-size: 12.5px;
	}
}
@media  screen and (max-width: 720px) and (min-width: 641px) {
	html, body {
		font-size: 11.25px;
	}
}
@media  screen and (max-width: 640px) {
	html, body {
		font-size: 10px;
	}
}
/*// @media  screen and (max-width: 320px) {*/
/*// 	html, body {*/
	/*// 	font-size: 50px;*/
	/*// 	}*/
/*// }*/


html,body{max-width: 1080px;margin: auto;}
body{background-color: #f8f8f8}
.head {background: #5bbc4e;height: 3.67rem;line-height:3.67rem;text-align: center;color: #fff;font-size: 1.7rem;position: relative;}
.head img{width: 2.4rem;vertical-align: text-bottom;float: right;position: relative;top: 0.635rem;right: 1.5rem;}
.head .back {width: 3.67rem;height: 3.67rem;position: absolute;left: 0;vertical-align: middle;background: url(../../guest/img/back.png) no-repeat center center;background-size: 1.2rem;}
.head .finish {color: #fff;font-size: 1.4rem;padding: 0 2rem;position: absolute;right: 0;}
.content{padding: 1.25rem;background-color: #f8f8f8}
.bottom{height: 3.4rem;background: #5bbc4e;line-height: 3.4rem;text-align: center;color: #fff;font-size: 1.7rem;position: absolute;bottom: 0;width: 100%;}
.choose{position: fixed;background: rgba(0,0,0,0.5);width: 100%;top: 0;bottom: 0;left: 0;text-align: center;}
.choose select{position: relative;top: 30%;width: 80%;font-size: 1.4rem;border-radius: 5px;padding: 1rem;color: #333;}
.submit{background: #5bbc4e;height: 3.67rem;line-height: 3.67rem;text-align: center;color: #fff;font-size: 1.7rem;position: relative;width: 100%;margin: 2rem 0}
.error{position: absolute;width: 60%;left: 20%;top: 40%;background-color: #fff;border-radius: 10px;padding: 2rem 0 0 0;font-size: 1.4rem;color: #333;box-sizing: border-box;}
.error button{width: 100%;background: #5bbc4e;color: #fff;border-radius: 0 0 10px 10px;padding: 0.8rem;}
.error p{padding: 1.5rem 0;}
.fixsubmit{background: #5bbc4e;height: 3.67rem;line-height: 3.67rem;text-align: center;color: #fff;font-size: 1.7rem;position: fixed;bottom:0;width: 100%;max-width: 1080px;}
/*//border*/
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0;  font-family: "微软雅黑"; }
fieldset, img { border: 0; }
ul, ol, li { list-style: none; font-family:'Microsoft YaHei'; }

/* remember to define focus styles! */
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: 1.4rem; font-style: inherit; font-weight: inherit; background-color: #fff; border: none;}
code, kbd, samp, tt { font-size: 100%; }
a{text-decoration:none;}
a:hover{
	text-decoration: none;
}

input, button, textarea{ *font-size: 100%;}
ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table,tr,td { border-collapse: collapse; border-spacing: 0; margin:0;padding:0;}
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }

/* remember to highlight anchors and inserts somehow! */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/**Common Css**/
.fr { float: right; *display: inline;}
.fl { float: left; *display: inline;}
/*文本超出显示省略号*/
.ehn, .otw, .tow { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
/*清除浮动*/
.clearfix { clear: both; *zoom:1;}
.clearfix:after { display: block; clear: both; content: "\0020"; visibility: hidden; height: 0; }